.Projects {
  display: flex;
  flex-direction: row;
  margin-top: -2rem;
  margin-bottom: 0rem;
}

.MoreProjects {
  margin-top: 2rem;
  text-align: center;
}

@media (min-width: 992px) {
  .Projects {
    flex-direction: column;
    margin-top: 0;
    margin-bottom: 0;
  }
  .MoreProjects {
    margin-top: 0;
    margin-bottom: 0;
  }
}
