.Logo {
  position: relative;
  z-index: 9;
  font-family: "Yuji Boku", Courier, monospace;
  /* Disable effects when sidebar is open */
  filter: none !important;
  pointer-events: auto !important;
  user-select: auto !important;
  line-height: 2.5rem;
  margin-right: 3em;
}

.Logo img,
.Logo svg {
  width: 160px;
  height: 80px;
  object-fit: contain;
  margin-right: 10%;
}
